@model DAL.Models.HomeViewModel

@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 

<style>

    .timeline-section {
        max-width: 1100px;
        margin: auto;
        padding: 40px 20px;
        position: relative;
    }

    .timeline-heading {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .timeline-container {
        position: relative;
        padding: 20px 0;
    }

        .timeline-container::before {
            content: '';
            position: absolute;
            width: 4px;
            background-color: #e0e0e0;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -2px;
        }

    .timeline-item {
        padding: 15px 30px;
        position: relative;
        width: 50%;
    }

        .timeline-item::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            right: -9px;
            background-color: #d60000;
            border: 3px solid white;
            top: 20px;
            border-radius: 50%;
            z-index: 1;
        }

        .timeline-item.left {
            left: 0;
            text-align: right;
        }

        .timeline-item.right {
            left: 50%;
            text-align: left;
        }

            .timeline-item.right::after {
                left: -9px;
            }

        .timeline-item .content {
            background-color: #fafafa;
            padding: 15px 20px;
            border-radius: 6px;
            position: relative;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        }

            .timeline-item .content h3 {
                margin: 0 0 5px;
                color: #d60000;
                font-size: 18px;
            }

            .timeline-item .content p {
                margin: 0;
                color: #222;
            }


    element.style {
        background-image: url(Content/home/images/backgrounds/video-bg-2.jpg);
        object-fit: cover;
        object-position: 50% 50%;
        max-width: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 4731px;
        height: 1164.88px;
        overflow: hidden;
        pointer-events: none;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        will-change: transform, opacity;
        margin-top: 163.062px;
        transform: translate3d(0px, -14.3648px, 0px);
    }
</style>

<!-- ABOUT US SECTION -->
<!-- breadcrumb area end -->
<section class="page-header page-header--bg-two" data-jarallax data-speed="0.3" data-imgPosition="50% -100%">
    <div class="page-header__bg jarallax-img"></div>
    <!-- /.page-header-bg -->
    <div class="page-header__overlay"></div>
    <!-- /.page-header-overlay -->
    <div class="container text-center">
        <h2 class="page-header__title">ABOUT US</h2>
        <!-- /.page-breadcrumb list-unstyled -->
    </div>
    <!-- /.container -->
</section>


<section class="about-three" style="padding: 26px 0 120px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="100ms">
                <div class="about-three__thumb">
                    <!-- about thumb start -->
                    <div class="about-three__thumb__one eduact-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                        <img src="../../Content/home/images/EXCEL BLD.jpg" alt="eduact" style="width: 461px; height:559px; ">
                    </div><!-- /.about-thumb-one -->
                    <div class="about-three__thumb__shape-one"></div><!-- /.about-shape-one -->
                    <div class="about-three__thumb__shape-two"></div><!-- /.about-shape-two -->
                    <div class="about-three__thumb__shape-three"><span></span><span></span><span></span><span></span><span></span></div><!-- /.about-shape-three -->
                    <div class="about-three__thumb__shape-four"><img src="../../Content/home/images/shapes/about-3-shape-1.png" alt="eduact" /></div><!-- /.about-shape-four -->
                    <div class="about-three__thumb__shape-five"><span></span><span></span><span></span><span></span><span></span></div><!-- /.about-shape-five -->
                    <div class="about-three__thumb__shape-six"><span></span><span></span><span></span><span></span><span></span></div><!-- /.about-shape-six -->
                    <div class="about-three__thumb__shape-seven"></div><!-- /.about-shape-seven -->
                </div><!-- about thumb end -->
            </div>

            <div class="col-xl-6 wow fadeInRight" data-wow-delay="100ms">
                <div class="about-two__content">
                    <!-- about content start-->

                    <div class="section-title">
                        <h5 class="section-title__tagline">
                            Excel’s Brief
                            <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                                <g clip-path="url(#clip0_324_36194)">
                                    <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                                    <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                                    <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                                    <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                                </g>
                            </svg>
                        </h5>
                        <h2 class="section-title__title">
                            ABOUT US
                        </h2>
                    </div><!-- section-title -->
                    <p class="about-two__content__text">
                        The era of Excel began since its inception in the year 2007. The vision to provide quality education is met with the glorious result of our students..
                        Director of Excel Educational Institute CA. B. L. Agrawal, CA. Praveen Golchha & CA. Sanjay Kumar Goyal Started this institute with the aim to build a complete hub in the educational world of commerce.
                    </p>
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-logical-thinking"></span></div>
                            <h4 class="about-two__about-box__title">Our Mission</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            Excel Educational Institute laid its foundation stone in the year 2007, with the vision to provide qualitative education thereby producing successful candidates in huge numbers and hence serving the nation.
                        </p>
                    </div><!-- /.icon-box -->
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-vision"></span></div>
                            <h4 class="about-two__about-box__title">Our Vision</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            Director of Excel Educational Institute CA. B. L. Agrawal, CA. Praveen Golchha & CA. Sanjay Kumar Goyal Started this institute with the aim to build a complete hub in the educational world of commerce.
                        </p>
                    </div><!-- /.icon-box -->
                </div><!-- about content end -->
            </div>


        </div>
    </div>
</section>
<!-- video start -->
<section class="video-two" style="background: url(/Content/home/images/backgrounds/page-header-bg-1-2.jpg) " data-jarallax="" data-speed="0.3" data-imgposition="50% -100%" style="z-index: 0;">

    <div class="video-two__shape" style="background-image: url(/Content/home/images/shapes/video-shape-3.png);"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-md-7 wow fadeInLeft animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;">
                <h3 class="video-two__title">Discover the Campus Through<br> a Video Tour</h3>
                <a href="contact.html" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Discover More<i class="icon-arrow"></i></a>
            </div>
            <div class="col-xl-6 col-md-5 wow fadeInRight animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInRight;">
                <div class="video-two__btn">
                    <a href="https://www.youtube.com/watch?v=ZfzBcYdoVEs" class="video-popup">
                        <span class="icon-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"><div class="video-two__bg jarallax-img" style="background-image: url(Content/home/images/backgrounds/video-bg-2.jpg); object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 4731px; height: 1164.88px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 163.062px; transform: translate3d(0px, -14.3648px, 0px);" data-jarallax-original-styles="background-image: url(Content/home/images/backgrounds/video-bg-2.jpg);"></div></div>
</section>
<!-- video end -->
<!--- Counter start-->
<section class="fact-two" style="background-image: url(/Content/home/images/shapes/fact-bg-2.png);">
    <div class="container" style="background-image: url(/Content/home/images/shapes/fact-bg-2.png);">

        <div class="fact-two__inner" style="background-image: url(/Content/home/images/shapes/fact-bg-inner.png);">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                    <div class="fact-two__item text-center">
                        <div class="fact-two__icon"><span class="icon-Headphone-Women"></span></div>
                        <div class="fact-two__count">
                            <span class="count-box counted">
                                <span class="count-text" data-stop="30.3" data-speed="1500">30.3</span>
                            </span>k
                        </div><!-- /.fact-two__count -->
                        <h3 class="fact-two__title">Student Enrolled</h3><!-- /.fact-two__title -->
                    </div><!-- /.fact-item -->
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="fact-two__item fact-two__item--smnone text-center">
                        <div class="fact-two__icon"><span class="icon-Online-learning"></span></div>
                        <div class="fact-two__count">
                            <span class="count-box counted">
                                <span class="count-text" data-stop="40.5" data-speed="1500">40.5</span>
                            </span>k
                        </div><!-- /.fact-two__count -->
                        <h3 class="fact-two__title">Class completed</h3><!-- /.fact-two__title -->
                    </div><!-- /.fact-item -->
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="fact-two__item text-center">
                        <div class="fact-two__icon"><span class="icon-ratings"></span></div>
                        <div class="fact-two__count">
                            <span class="count-box counted">
                                <span class="count-text" data-stop="88.9" data-speed="1500">88.9</span>
                            </span>%
                        </div><!-- /.fact-two__count -->
                        <h3 class="fact-two__title">satisfaction rate</h3><!-- /.fact-two__title -->
                    </div><!-- /.fact-item -->
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="fact-two__item fact-two__item--noborder text-center">
                        <div class="fact-two__icon"><span class="icon-instructor"></span></div>
                        <div class="fact-two__count">
                            <span class="count-box counted">
                                <span class="count-text" data-stop="6.30" data-speed="1500">6.3</span>
                            </span>+
                        </div><!-- /.fact-two__count -->
                        <h3 class="fact-two__title">Top instructors</h3><!-- /.fact-two__title -->
                    </div><!-- /.fact-item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--- Counter End-->
<!---- testing team memeber photos Start-->
<section class="team-two team-two--about" style="background-image: url('@Url.Content("~/Content/home/images/shapes/team-bg-2.png")');">
    <div class="container">
        <div class="section-title text-center wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
            <h5 class="section-title__tagline">
                Our Team
                <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                    <g clip-path="url(#clip0_324_36194)">
                        <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z"></path>
                        <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z"></path>
                        <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z"></path>
                        <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z"></path>
                    </g>
                </svg>
            </h5>
            <h2 class="section-title__title">Meet Our Professional Team<br> Members</h2>
        </div><!-- section-title -->
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="team-two__item">
                    <div class="team-two__image">
                        <img src="../../Content/home/images/TM1.png" alt="eduact" style="width: 353px; height: 454px;">
                    </div><!-- /.team-image -->
                    <div class="team-two__content">
                        <h4 class="team-two__title">
                            <a href="team-details.html">CA. B. L. Agrawal</a>
                        </h4><!-- /.team-name -->
                        <span class="team-two__designation">(B.Com. FCA)</span><!-- /.team-designation -->
                        <span class="team-two__designation">Experience:34 Years</span><!-- /.team-designation -->
                        <div class="team-two__social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div><!-- /.team-social -->
                    </div><!-- /.team-content -->
                </div><!-- /.team-two -->
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                <div class="team-two__item">
                    <div class="team-two__image">
                        <img src="../../Content/home/images/TM2.png" alt="eduact" style="width: 353px; height: 454px;">
                    </div><!-- /.team-image -->
                    <div class="team-two__content">
                        <h4 class="team-two__title">
                            <a href="team-details.html">CA. Praveen Golchha</a>
                        </h4><!-- /.team-name -->
                        <span class="team-two__designation">(B.Com. FCA)</span><!-- /.team-designation -->
                        <span class="team-two__designation">Experience:26 Years</span><!-- /.team-designation -->
                        <div class="team-two__social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div><!-- /.team-social -->
                    </div><!-- /.team-content -->
                </div><!-- /.team-two -->
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="team-two__item">
                    <div class="team-two__image">
                        <img src="../../Content/home/images/TM3.png" alt="eduact" style="width: 353px; height: 454px;">
                    </div><!-- /.team-image -->
                    <div class="team-two__content">
                        <h4 class="team-two__title">
                            <a href="team-details.html">CA. Sanjay Kumar Goyal</a>
                        </h4><!-- /.team-name -->
                        <span class="team-two__designation">(B.Com. FCA, DISA (ICAI))</span><!-- /.team-designation -->
                        <span class="team-two__designation">Experience:26 Years</span><!-- /.team-designation -->
                        <div class="team-two__social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div><!-- /.team-social -->
                    </div><!-- /.team-content -->
                </div><!-- /.team-two -->
            </div>
        </div>
    </div>
</section>
<!---- testing team memeber photos end-->
<!-- TIMELINE SECTION -->
<section class="timeline-section">
    <h2 class="timeline-heading">A Trail of Teaching and Learning</h2>
    <div class="timeline-container">
        <!-- Left Side Entry -->
        <div class="timeline-item left">
            <div class="content">
                <h3>2010</h3>
                <p>Foundation of Swapnil Patni Classes (SPC)</p>
            </div>
        </div>

        <!-- Right Side Entry -->
        <div class="timeline-item right">
            <div class="content">
                <h3>2012</h3>
                <p>Launched Official YouTube Channel</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2014</h3>
                <p>Introduced Virtual Learning for CA Aspirants</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <h3>2016</h3>
                <p>Started Recorded Classes</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2017</h3>
                <p>Expanded to 160+ Virtual Centers Across India</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <h3>2018</h3>
                <p>Initiated the Prestigious Rankers Awards Ceremony</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2019</h3>
                <p>Launched 11th & 12th Commerce Courses</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <h3>2020-21</h3>
                <p>Introduced SPC Prime App for Seamless Learning</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2022</h3>
                <p>Established SPC Gurukul – India’s Only Residential CA Coaching Program</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="content">
                <h3>2023</h3>
                <p>Honored with the ET Business Award for Best CA Coaching Institute in India</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2024</h3>
                <p>Achieved 800K+ Subscribers on YouTube, Expanding Digital Reach</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <h3>2025</h3>
                <p>Released I Am CA – A Musical Tribute to the CA Fraternity</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h3>2025</h3>
                <p>Ultimate CA (UCA) Joins the SPC Family, Strengthening CA Education</p>
            </div>
        </div>

    </div>
</section>

@section Scripts {
}
